In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("input_data/yellow_tripdata_2020-01.csv", low_memory=False)

In [15]:
df[df.tpep_pickup_datetime<"2020-01-01"].sort_values("tpep_pickup_datetime")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
782435,2.0,2003-01-01 00:07:17,2003-01-01 14:16:59,1.0,0.00,1.0,N,193,193,2.0,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0
5086498,2.0,2008-12-31 23:02:40,2009-01-01 05:46:33,1.0,8.48,1.0,N,43,138,1.0,24.0,0.5,0.5,6.78,6.12,0.3,40.70,2.5
1447622,2.0,2008-12-31 23:02:50,2009-01-01 03:38:00,3.0,0.51,1.0,N,161,151,1.0,4.5,0.5,0.5,1.45,0.00,0.3,7.25,0.0
5086894,2.0,2008-12-31 23:03:44,2009-01-01 05:32:14,1.0,1.10,1.0,N,262,140,1.0,6.0,0.5,0.5,1.00,0.00,0.3,10.80,2.5
3073519,2.0,2008-12-31 23:03:48,2009-01-01 18:20:15,1.0,5.27,1.0,N,79,74,1.0,19.5,3.5,0.5,0.00,0.00,0.3,23.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3506,2.0,2019-12-31 23:59:48,2020-01-01 00:42:26,6.0,13.25,1.0,N,151,181,1.0,41.5,0.5,0.5,9.06,0.00,0.3,54.36,2.5
5643,2.0,2019-12-31 23:59:50,2020-01-01 00:09:49,2.0,1.50,1.0,N,249,246,1.0,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5
3714,2.0,2019-12-31 23:59:51,2020-01-01 00:02:18,5.0,0.73,1.0,N,50,50,2.0,4.0,0.5,0.5,0.00,0.00,0.3,7.80,2.5
12531,2.0,2019-12-31 23:59:55,2020-01-01 00:39:17,2.0,9.72,1.0,N,186,61,1.0,35.5,0.5,0.5,0.00,0.00,0.3,39.30,2.5
4359,2.0,2019-12-31 23:59:56,2020-01-01 00:09:40,5.0,0.96,1.0,N,90,107,1.0,7.5,0.5,0.5,2.82,0.00,0.3,14.12,2.5

In [11]:
df.tpep_pickup_datetime.value_counts().sort_index()

2003-01-01 00:07:17    1
2008-12-31 23:02:40    1
2008-12-31 23:02:50    1
2008-12-31 23:03:44    1
2008-12-31 23:03:48    1
                      ..
2020-07-10 11:34:11    1
2020-07-31 18:50:41    1
2021-01-02 00:22:00    1
2021-01-02 00:44:08    1
2021-01-02 01:12:10    1
Name: tpep_pickup_datetime, Length: 2134342, dtype: int64

In [26]:
df = df[df["VendorID"].isna()==False]

In [29]:
df["passenger_count"].value_counts()

1.0    4547226
2.0     946423
3.0     250234
5.0     225693
6.0     132154
4.0     123470
0.0     114302
7.0         29
9.0         19
8.0         17
Name: passenger_count, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6339567 entries, 0 to 6339566
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 919.0+ MB